@model IEnumerable<TP4_MVC_2.Models.Employee>

<div class="row">
    <div class="col-5">
        @if (Model.Count() == 0)
        {
        <h4>Employee not found in this department</h4>
        }
        else
        {
        <table class="table table-bordered">
            <tr>
                <th colspan="2"><label>Employee List</label></th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>

            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.FirstName &nbsp; @emp.LastName</td>
                    <td><a asp-action="EmployeeDetail" asp-controller="Employee" asp-route-id="@emp.Id">View Detail</a></td>
                </tr>
            }
        </table>
        }
    </div>
</div>